.grid-container {
  display: grid;
  grid-template-columns: 175px 300px 300px 300px;
  grid-gap: 10px;
}

.header {
  grid-column: 1 / 4;
  padding: 20px;
  border: 1px solid black;
  color: #2e2e2e;
  background-color: #a3a3a3;
}

.nav {
  grid-row: 2 / 2;
  padding: 20px;
  border: 1px solid black;
  color: #2e2e2e;
  background-color: #a3a3a3;
}

.footer {
  grid-column: 1 / 4;
  padding: 20px;
  border: 1px solid black;
  color: #2e2e2e;
  background-color: #a3a3a3;
  text-align: center;
}

.content {
  grid-column: 2 / 4;
  padding: 20px;
  border: 1px solid black;
  color: #2e2e2e;
  background-color: #a3a3a3;
}


