.grid-container {
  display: grid;
  grid-template-columns: 175px 300px 300px 300px;
  grid-gap: 10px;
  background-color: #a3a3a3;
}

.header {
  grid-column: 1 / 4;
  padding: 20px;
}

.nav {
  grid-row: 2 / 2;
  padding: 20px;
}

.footer {
  grid-column: 1 / 4;
  padding: 20px;
}

.content {
  grid-column: 2 / 4;
  padding: 20px;
}


