.grid-container {
  display: grid;
  grid-template-columns: 200px auto auto auto;
  grid-gap: 10px;
  background-color: a3a3a3;
}

.header {
  grid-column: 1 / 4;
}

.footer {
  grid-column: 1 / 4;
}

.content {
  grid-column: 2 / 4;
}


